.Checkers__Board--Container {
    display: flex;
    justify-content: center;
    min-width: 800px;
}

.Checkers__LettersLine,
.break {
    height: 65px;
    display: flex;
}

.Checkers__NumbersLine {
    width: 65px;
}

.Checkers__NumbersCell,
.Checkers__LettersCell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Checkers__NumbersCell {
    height: 65px;
}

.Checkers__LettersCell {
    width: 65px;
}

.Checkers__Board {
    width: 650px;
    height: 650px;
}

.Checkers__Row {
    height: 10%;
    display: flex;
    justify-content: center;
}

.Checkers__Square--Light,
.Checkers__Square--Dark {
    width: 10%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Checkers__Square--Light {
    background: #f8f8f6;
}

.Checkers__Square--Dark {
    background: #808080;
}

.fa-light {
    color: #dfdfdf;
}

.fa-dark {
    color: #252525;
}