.Checkers__Board--Container {
    display: flex;
    justify-content: center;
    /*min-width: 900px;*/
}

.Checkers__LettersLine,
.break {
    height: 75px;
    display: flex;
    /*align-self: ;*/
    /*width: 750px;*/
    /*margin: 0 auto;*/
}

.Checkers__NumbersLine {
    width: 75px;
}

.Checkers__NumbersCell,
.Checkers__LettersCell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Checkers__NumbersCell {
    height: 75px;
}

.Checkers__LettersCell {
    width: 75px;
}

.Checkers__Board {
    /*margin: 0 auto;*/
    width: 750px;
    height: 750px;
}

.Checkers__Row {
    height: 10%;
    display: flex;
    justify-content: center;
}

.Checkers__Square--Light,
.Checkers__Square--Dark {
    width: 10%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Checkers__Square--Light {
    background: #f8f8f6;
}

.Checkers__Square--Dark {
    background: grey;
}

.fa-light {
    color: #dfdfdf;
}

.fa-dark {
    color: #252525;
}